<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752851606146-e82pdsv4b4eiqglmq7lfg6e8imn173t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752851606146-e82pdsv4b4eiqglmq7lfg6e8imn173t3</string>
	<key>API_KEY</key>
	<string>AIzaSyClayBojohTpBIBJUaGfpqBSnH-aIQ-Uxk</string>
	<key>GCM_SENDER_ID</key>
	<string>752851606146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shurup.RealTimeMessenger</string>
	<key>PROJECT_ID</key>
	<string>realtimemessenger-f210e</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimemessenger-f210e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752851606146:ios:db929054333cc59c1e329b</string>
</dict>
</plist>